streamlit
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
faiss-cpu
langchain
langchain-community
langchain-huggingface
tqdm
transformers
sentence-transformers
torch
SpeechRecognition
pydub